{% extends 'base.html' %}
{% load static %}

{% block content %}



<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="row">
	<aside class="col-lg-6">
    <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Billing Address</h4>
      <form action="" method="POST">
      <div class="form-row">
        <div class="col form-group">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" class="form-control" required></input>
        </div>
        <div class="col form-group">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" class="form-control" required></input>
        </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="addressline1">Address Line 1</label>
            <input type="text" name="addressline1" class="form-control" required></input>
          </div>
          <div class="col form-group">
            <label for="addressline2">Address Line 2</label>
            <input type="text" name="addressline2" class="form-control"></input>
          </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="email">Email</label>
              <input type="text" name="email" class="form-control" required></input>
            </div>
            <div class="col form-group">
              <label for="PhoneNumber">Phone Number</label>
              <input type="text" name="PhoneNumber" class="form-control" required></input>
            </div>
            </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="city">City</label>
              <input type="text" name="city" class="form-control" required></input>
            </div>
            <div class="col form-group">
              <label for="state">State</label>
              <input type="text" name="state" class="form-control" required></input>
            </div>
            <div class="col form-group">
              <label for="country">State</label>
              <input type="text" name="country" class="form-control" required></input>
            </div>
            </div>
            <div class="form-row">
                <label for="note">Order Note</label>
                <textarea name="note" rows="3" class="form-control"></textarea>
            </div>


    </div> <!-- card-body.// -->
    </div> <!-- card.// -->
	</aside> <!-- col.// -->


	<aside class="col-lg-6">
    <div class="card">
      <div class="card-body">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="150">Quantity</th>
      <th scope="col" width="150">Price</th>

    </tr>
    </thead>
    <tbody>
    {% for cart_item in cart_items %}
    <tr>
    	<td>
    		<figure class="itemside align-items-center">
    			<div class="aside"><img src="{{ cart_item.product.image.url }}" class="img-sm"></div>
    			<figcaption class="info">
    				<a href="{{ cart_item.product.get_url }}" class="title text-dark">{{cart_item.product.product_name}}</a>
    				<p class="text-muted small">
    					{% if cart_item.variations.all %}
    					{% for item in cart_item.variations.all %}
                 {{ item.variation_category | capfirst}} : {{item.variation_value | capfirst }}<br>

    					{% endfor %}
    					{% endif %}
    			</figcaption>
    		</figure>
    	</td>
    	<td>
    	<label for="">{{cart_item.quantity}}</label>
    	</td>
    	<td>
    		<div class="price-wrap">
    			<var class="price">{{cart_item.sub_total}}</var>
    			<small  class="text-muted">{{cart_item.product.price}}</small>
    		</div> <!-- price-wrap .// -->
    	</td>

    </tr>

    {% endfor %}

    </tbody>
    </table>
    <button type="submit" name="submit" class="btn btn-primary btn-block">Place Order</button>
    <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
    </div>
    </div> <!-- card.// -->

  </form>

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
</div> <!-- container .//  -->
</section>

{% endblock %}
